@import "tailwindcss";

@theme {
  --color-background: #fafafa;
  --color-accent: #5438ff;
  --color-text: #1a1a1a;
  --color-logitech-text: #efefef;
  --color-logitech-accent: #00b5ea;
  --breakpoint-xs: 36.69rem;
  --breakpoint-xl: 89.94rem;
}

@layer components {
  .logitech-card {
    @apply bg-linear-130 from-[#020202] to-[#00161d];
  }
}
